.contato-bg {
    background-color: var(--preto-c12);
}

.contato-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: auto;
    margin-right: auto;
}

.contato {
    padding: 50px 0px;
}

.contato-box1 img {
}

.contato-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contato-box2 h2 {
    margin-bottom: 35px;
}

.contato-box2 h3 {
    margin-bottom: 20px;
}

.contato-box2 .elemento {
    width: 360px;
    height: 3px;
    background-color: var(--preto-c11);
    margin-bottom: 20px;
}

.contato-box2 img {
    display: inline-block;
    margin-right: 30px;
}

.contato-box3 h2 {
    margin-bottom: 35px;
}

.contato-box3 h3 {
    margin-bottom: 20px;
}

.contato-box3 img {
    display: inline-block;
    margin-right: 30px;
}

.contato-direitos {
    margin-top: 50px;
}
