.seguros-bg {
    background-color: var(--preto-c11);
}

.seguros h2 {
    padding-top: 50px;
    margin-bottom: 35px;
}

.seguros-flex {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.seguros-card1 {
    width: 45%;
    height: 390px;
    background-color: var(--preto-c12);
    border-radius: 5px;
    margin-bottom: 55px;
    padding: 30px;
}

.seguros-card1-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.seguros-card1-flex div span {
    text-align: right;
    display: block;
}
.seguros-card1-lista img {
    display: inline-block;
    margin-right: 10px;
}

.seguros-card1-lista p {
    display: inline-block;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.seguros-card1 .a {
    display: flex;
    padding-top: 10px;
}
.seguros-card1 .a a {
    margin: 0 auto;
    background: var(--preto-c8);
    color: var(--branco);
}

.seguros-card1 .a a:hover {
    background: var(--preto-c10);
}

.seguros-card2 {
    width: 45%;
    height: 480px;
    background-color: var(--preto-c12);
    border-radius: 5px;
    margin-bottom: 60px;
    padding: 30px;
}
.seguros-card2 .a {
    display: flex;
    padding-top: 10px;
}
.seguros-card2 .a a {
    margin: 0 auto;
}

@media (max-width: 700px) {
    .seguros-flex {
        flex-direction: column;
        gap: 20px;
    }

    .seguros-card1 {
        margin-bottom: 0;
        width: 400px;
    }

    .seguros-card2 {
        margin-bottom: 40px;
        width: 400px;
    }
}

@media (max-width: 450px) {
    .seguros-card1 {
        width: 300px;
    }
    .seguros-card2 {
        width: 300px;
    }
}

@media (max-width: 350px) {
    .seguros-card1 {
        width: 275px;
    }
    .seguros-card2 {
        width: 275px;
    }
}
