* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --preto-c12: #000000;
    --preto-c11: #111111;
    --preto-c10: #2e2e2e;
    --preto-c9: #b2b2b2;
    --branco: #ffffff;
    --amarelo: #ffbb00;
    --amarelo-escuro: #332200;
}
/************************************************ 
---------------------HEADER----------------------
*************************************************/
.header-bg {
    background-color: var(--preto-c12);
    padding-bottom: 20px;
}
/************************************************ 
---------------------HEADER-ctn------------------
*************************************************/
.header-bg .header-ctn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 25px;
}

.header-bg .header-ctn a img {
    padding-right: 10px;
}
/************************************************ 
---------------------HEADER-MENU-----------------
*************************************************/
.header-bg .header-ctn .header-menu {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.header-bg .header-ctn .header-menu li a {
    color: var(--branco);
    position: relative;
    font-size: 1rem;
    padding: 5px;
    font-weight: 500;
}

.header-bg .header-ctn .header-menu li a:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0px;
    background-color: var(--branco);
    margin-top: 5px;
    transition: 0.5s;
}

.header-bg .header-ctn .header-menu li a:hover::after {
    width: 100%;
}

/************************************************ 
------------RESPONSIVIDADE-HEADER----------------
*************************************************/

@media (max-width: 800px) {
    .header-bg .header-ctn .header-menu li a:after {
        display: none;
    }
    .header-bg .header-ctn .header-menu li a {
        background-color: var(--preto-c11);
        border-radius: 4px;
        padding: 10px;
    }

    .header-bg .header-ctn .header-menu li a:hover {
        background-color: var(--preto-c10);
    }
}
@media (max-width: 528px) {
    .header-bg .header-ctn .header-menu {
        margin-top: 10px;
    }
    .header-bg .header-ctn div {
        width: 100%;
    }

    .header-bg .header-ctn a img {
        margin: 0 auto;
    }
    .header-bg .header-ctn nav {
        width: 100%;
    }
    .header-bg .header-ctn .header-menu li {
        margin: 0 auto;
    }
}

@media (max-width: 400px) {
    .header-bg .header-ctn .header-menu li a {
        font-size: 14px;
    }

    .header-bg .header-ctn .header-menu {
        margin-top: 10px;
    }
}

@media (max-width: 320px) {
    .header-bg .header-ctn .header-menu {
        gap: 15px;
    }
}
/************************************************ 
---------------------MAIN------------------------
*************************************************/
.introducao-bg {
    background-color: var(--preto-c12);
    color: var(--branco);
}

.introducao-bg .introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.introducao-bg .introducao img {
    border-radius: 5px;
}

.introducao-bg .introducao .conteudo {
    align-self: center;
}

.introducao-bg .introducao .conteudo h1 {
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 20px;
}

.introducao-bg .introducao .conteudo h1 span {
    color: var(--amarelo);
}

.introducao-bg .introducao .conteudo p {
    font-size: 24px;
    line-height: 1.5;
    width: 97%;
    color: var(--preto-c9);
    margin-bottom: 20px;
}

.introducao-bg .introducao .conteudo a {
    padding: 16px 32px;
    border-radius: 5px;
    background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--amarelo-escuro);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    display: inline-block;
}

.introducao-bg .introducao .conteudo a:hover {
    background: linear-gradient(#ffb60d, #da8c17);
}
