@import url(./global.css);
@import url(./header.css);
@import url(./introducao.css);
@import url(./ultilidades/cores.css);
@import url(./ultilidades/componentes.css);
@import url(./ultilidades/tipografia.css);
@import url(./bicicletas.css)