.pagina-bicicleta {
    background-color: #e5e5e5;
}

.catalogo-grid1 {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 40px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.catalogo-grid1-bg {
    background: linear-gradient(to left, #111111 74%, transparent 50%);
}
.catalogo-grid1-img {
    position: relative;
}

.catalogo-grid1-img img {
    border-radius: 4px;
    max-height: 340px;
}

.catalogo-grid1-img p {
    position: absolute;
    top: 30px;
    right: 0px;
    padding: 5px 10px;
    background-color: var(--preto-c12);
    color: var(--branco);
    font-weight: 500;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.catalogo-box::before {
    content: "";
    display: block;
    background-color: var(--amarelo);
    width: 21px;
    height: 8px;
    border-radius: 5px;
}

.catalogo-box h3 {
    margin-top: 20px;
    margin-bottom: 18px;
}

.catalogo-box p {
    margin-bottom: 30px;
}

.catalogo-grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.catalogo-grid2 img {
    display: inline;
    margin-right: 10px;
    width: 24px;
}
.catalogo-grid2 li {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.catalogo-grid2 li:nth-child(1),
.catalogo-grid2 li:nth-child(2),
.catalogo-grid2 li:nth-child(3) {
    margin-bottom: 15px;
}

.catalogo-grid2-a {
    justify-self: end;
    align-self: flex-end;
}

@media (max-width: 900px) {
    .catalogo-grid1-bg {
        background-color: #111111;
    }
    .catalogo-grid1 {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .catalogo-grid1-img {
        justify-self: center;
    }

    .catalogo-box p {
        text-align: center;
        width: 100%;
        display: block;
    }

    .catalogo-box h3 {
        margin-top: 0px;
    }
}

@media (max-width: 700px) {
    .catalogo-grid1 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media (max-width: 500px) {
    .catalogo-grid2 {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    .catalogo-grid2-a {
        justify-self: center;
    }
}
