/**************************************
--------------bicicletas---------------
***************************************/
.bicicletas {
    padding-top: 60px;
    padding-bottom: 120px;
}

.bicicletas h2 {
    margin-bottom: 40px;
}

/**************************************
----------------nav-img----------------
***************************************/
.nav-img {
    display: flex;
    gap: 40px;
    overflow-x: auto;
}

.nav-img::-webkit-scrollbar {
    height: 5px;
}

.nav-img::-webkit-scrollbar-thumb {
    background-color: var(--amarelo);
    border-radius: 4px;
}

.nav-img::-webkit-scrollbar-track {
    background-color: var(--preto-c9);
    border-radius: 4px;
}

.nav-img li {
    min-width: 260px;
}

.nav-img a {
    display: block;
}

.nav-img img {
    border-radius: 4px;
}

.nav-img h3 {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.nav-img h3::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 7px;
    background-color: var(--amarelo);
    margin: 5px;
    transition: 0.3s;
}

.nav-img a:hover h3::before {
    width: 35px;
}

.nav-img span {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 20px;
}

/**************************************
------------responsividade-------------
***************************************/
@media (max-width: 800px) {
    .bicicletas h2 {
        margin-bottom: 20px;
    }

    .nav-img {
        gap: 30px;
        align-items: flex-start;
    }
}

@media (max-width: 500px) {
    .nav-img {
        gap: 20px;
    }

    .nav-img span {
        margin-top: 0px;
    }
}
